html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #dadada;
}

.thread-status-bar {
    margin: 10px 10px 0px 10px;
    text-decoration: underline;
}

.thread-status-connection-status {
    display: inline-block;
}

.connection-status-connected {
    color: #02a200;
}

.connection-status-disconnected {
    color: #a20000;
}

.message-thread {
    flex: 1;
    overflow: auto;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #6f6f6f;
}

.message {
    padding: 5px;
    font-size: 17px;
}

.system-message {
    color: #cccccc;
    font-size: 13px;
    font-style: italic;
}

.response-bar {
    margin: 0px 10px 10px 10px;
}

#response-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #6f6f6f;
    font-size: 17px;
    padding: 3px;
}